#gameBoard {
  display: flex;
  flex-direction: column;
  height: 960px;
  width: 960px;
  flex: 0 0;
}

.rowDiv {
  display: flex;
  border-style: solid;
  border-color: red;
  flex: 1 1 auto;
}

.gamePiece {
  display: flex;
  border-style: solid;
  border-color: blue;
  flex: 1 1 100px;
}
